.news-item {
    position: relative;
    width: 100%;
  }
  .text_right {
    text-align: right;
  }
  .welcome_heading {
    color: #4a4a4a;
  }
  .hero__news-title {
    position: absolute;
    left: 30px;
    top: 50%;
    color: rgb(255, 255, 255);
  }
  .hero__summeray {
    position: absolute;
    left: 30px;
    top: 73%;
    color: rgb(255, 255, 255);
  }
  .hero__tag--news {
    position: absolute;
    left: 30px;
    top: 88%;
    color: rgb(255, 255, 255);
  }
  .img {
    width: 100%;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #00000047;
  }
  .title-hr {
    color: red;
    height: 5px;
    width: 75px;
    margin-left: 15px;
    opacity: 1;
    background-color: red;
  }
  